
<div class="row">
  <div class="col-md-12" id="floorplan">
    <div class="room" id="office" ></div>
    <div class="room" id="kitchen" ></div>
    <div class="room" id="living_room" ></div>
    <div class="room" id="back_porch" ></div>
    <div class="room" id="carport" ></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3" id="status">
This is some status stuff...
  </div>
  <div id='sparklines' class='col-sm-3'>
  </div>
  <div id="log" class='col-sm-3'>
Everybody's favorite.  Log.
  </div>
</div>
