
<div class="row">
  <div class="col-sm-12" id="floorplan">
    <div class="room" id="office" ></div>
    <div class="room" id="kitchen" ></div>
    <div class="room" id="living_room" ></div>
    <div class="room" id="back_porch" ></div>
    <div class="room" id="carport" ></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-7">
    <div id="status">[Status]</div>
    <div id="sparklines">[Sparklines]</div>
  </div>
  <div class="col-sm-5">
    <div id="log">[log]</div>
  </div>
</div>
