
<div class="row">
  <div class="col-sm-12" id="floorplan">
	<svg id="mysvg" width="949px" height="371px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
		<image xlink:href="http://192.168.1.77:3000/assets/floorplan.jpg" x="0" y="0" />
	</svg>
  </div>
</div>
<div class="row">
  <div class="col-sm-7">
    <div id="status">[Status]</div>
    <div id="sparklines">[Sparklines]</div>
  </div>
  <div class="col-sm-5">
    <div id="log">[log]</div>
  </div>
</div>
