
<div><%= image_tag("sparkline5.png", :alt => "sparklines") %></div>
<div><%= image_tag("sparkline6.png", :alt => "sparklines") %></div>
<div><%= image_tag("sparkline7.png", :alt => "sparklines") %></div>
