// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.body-dashboard
{
background-color: #222;
}

#floorplan
{
        width: 949px;
        height: 371px;
        border: 2px solid #ccc;
        background-image:url('/assets/floorplan.jpg');
        margin-left: auto ;
        margin-right: auto ;    
        position:relative;
}

.room
{
//        background-color: #F00;
//        display:inline-block;
//        position:absolute;
//        border: 3px solid #999;
	opacity:0.0;
}

.animate 
{
    -webkit-animation: fadeOut 15s;
}

@-webkit-keyframes fadeOut 
{
    from {opacity: 1;}
    to {opacity: 0;}
}

#office
{
        top:237px; 
        left:550px; 
        width:70px; 
        height:40px;
}

#kitchen
{
        top:102px; 
        left:550px; 
        width:70px; 
        height:135px;
}

#living_room
{
        top:102px; 
        left:622px; 
        width:122px; 
        height:75px;
}
#back_porch
{
        top:150px; 
        left:500px; 
        width:50px; 
        height:85px;
        background-color: #bbb;
}
#carport
{
        top:38px; 
        left:608px; 
        width:136px; 
        height:61px;
        background-color: #bbb;
}

#status
{
        color: #ccc;
}

#log
{
        color: #ccc;
	background-color: #000;
}

#sparklines
{
        color: #ccc;
}
